<!DOCTYPE html>
<html>
  <head>
    <title>GoalsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>GOALING APP</h1>
  <% if logged_in? %>
  <a href="<%= new_user_url %>">Sign Up</a>
  <p>or</p>
  <a href="<%= new_session_url %>">Log In</a>
  <% else %>
    <p>Welcome <%= current_user.username %></p>
    <form action="<%= user_url(current_user) %>" method = "POST">
      <input type="hidden" >
    </form>
  <% end %>
    <%= yield %>  
  </body>
</html>
